# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scraping_websites.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
url = https://scraping-municipalities.herokuapp.com/
project = scraping_websites
